@import "tailwindcss";

:root {
  --background: #EEE8DF;
  --foreground: #2C2621;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Montserrat, var(--font-geist-sans);
  --font-mono: 'Roboto Mono', Courier, var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
